.landing-page {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.cake-list {
 display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
}

.cake{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
.cake img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.cake h2{
    margin-top: 20px;
}
.cake p{
    margin-top: 20px;
    font-size: 15px;
    line-height: 2.0;
}
.cake button{
    display: block;
    margin: 20px auto 0;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.contact-button{
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.banner {
  background-color: #f8d7da;
  color: #721c24;
  padding: 100px 10px;
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  padding: 20px;
    color: white;

}

