.admin-dashboard {
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.admin-dashboard h2 {
  margin-top: 0;
}

.admin-dashboard label {
  display: block;
  margin-bottom: 10px;
}

.admin-dashboard input,
.admin-dashboard textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.admin-dashboard button[type='submit'] {
  background-color: cadetblue;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}


